<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.management.role.SysRoleDao">

    <select id="getRolesByAccountId" resultType="org.example.common.domain.management.role.SysRole">
        SELECT
            r.*
        FROM
            sys_role r,
            sys_account_role_rela rela
        WHERE r.role_id = rela.role_id
          AND rela.account_id =#{accountId}
          AND r.app_id =#{appId}
    </select>

    <!-- 分页查询-自定义sql-Wrapper -->
    <select id="selpageCustomSqlByWrapper" resultType="org.example.common.domain.management.role.SysRole">
        select * from sys_role t ${ew.customSqlSegment}
    </select>

    <!-- 分页查询-自定义sql-Map -->
    <select id="selpageCustomSqlByMap" resultType="org.example.common.domain.management.role.SysRole">
        select * from sys_role t where id=#{params.id} and name=#{params.name}
    </select>
</mapper>
