<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.management.SysDatasourceDao">


    <!-- 分页查询-自定义sql-Wrapper -->
    <select id="selpageCustomSqlByWrapper" resultType="org.example.common.domain.management.SysDatasource">
        select * from sys_datasource t ${ew.customSqlSegment}
    </select>

    <!-- 分页查询-自定义sql-Map -->
    <select id="selpageCustomSqlByMap" resultType="org.example.common.domain.management.SysDatasource">
        select * from sys_datasource t where id=#{params.id} and name=#{params.name}
    </select>
</mapper>
